@import "../utilities/mixins";

.header {
  &__billboard {
    background-image: url("/media/svg/wordmark-internet-outline.svg");

    @media (prefers-color-scheme: dark) {
      opacity: 0.3;
    }
  }

  &__tagline {
    border-bottom: 1px solid var(--inc-gray-3);
    margin-top: -3rem;

    @media (prefers-color-scheme: dark) {
      border-bottom-color: var(--inc-gray-8);
    }

    @media (min-width: 601px) {
      font-size: var(--h3-size);
      line-height: calc(var(--h3-size) * 1.5);
      padding-bottom: calc(var(--line-height) * 2);
      text-align: right;
    }

    @media (max-width: 600px) {
      font-size: var(--h5-size);
      line-height: calc(var(--h5-size) * 1.5);
      padding-bottom: var(--line-height);
      position: relative;
      text-align: center;
      z-index: 2;
    }
  }
}

p {
  text-align: center;

  code {
    background-color: var(--inc-gray-0);
    border: 1px solid var(--inc-gray-2);
    color: var(--inc-gray-7);
    padding-right: 4px;
    padding-left: 4px;

    @media (prefers-color-scheme: dark) {
      background-color: var(--inc-gray-8);
      border: 1px solid var(--inc-gray-8);
      color: var(--inc-gray-2);
    }
  }
}
