<footer class="footer">
  <!--/
  <u-grid class="inner-wrap" columns="8">
    <u-cell flex-column span="2">
      <h4 class="footer__heading">Products</h4>

      <ul class="footer__list">
        <li><a href="https://app.beachfront/">beachfront/</a></li>
      </ul>
    </u-cell>

    <u-cell flex-column span="2">
      <h4 class="footer__heading">Developers</h4>

      <ul class="footer__list">
        <li><a href="/coming-soon">API Status</a></li>
        <li><a href="/coming-soon">Documentation</a></li>
        <li><a href="https://github.com/neuenet" rel="noopener noreferrer" target="_blank">Open&#8209;Source</a></li>
      </ul>

      <h4 class="footer__heading">Use Cases</h4>

      <ul class="footer__list">
        <li><a href="/use-case/creator-economy">Creator Economy</a></li>
        <li><a href="/use-case/e-commerce">eCommerce</a></li>
        <li><a href="/use-case/loyalty">Loyalty Programs</a></li>
        <li><a href="/use-case/marketplace">Marketplaces</a></li>
        <li><a href="/use-case/platform">Platforms</a></li>
        <li><a href="/use-case/saas">SaaS</a></li>
      </ul>
    </u-cell>

    <u-cell flex-column span="2">
      <h4 class="footer__heading">Company</h4>

      <ul class="footer__list">
        <li><a href="/coming-soon">Customers</a></li>
        <li><a href="/coming-soon">Enterprise</a></li>
        <li><a href="/topic/newsroom">Newsroom</a></li>
        <li><a href="/coming-soon">Partners</a></li>
      </ul>
    </u-cell>

    <u-cell flex-column span="2">
      <h4 class="footer__heading">Resources</h4>

      <ul class="footer__list">
        <li><a href="https://twitter.com/messages/compose?recipient_id=1373068919188066306" rel="noopener noreferrer" target="_blank">Contact</a></li>
        <li><a href="/topic/tutorial">Guides</a></li>
        <li><a href="/coming-soon">Privacy &amp; Terms</a></li>
        <li><a href="">Sitemap</a></li>
        <li><a href="/coming-soon">Support</a></li>
      </ul>
    </u-cell>
  </u-grid>
  /-->

  <p class="footer__copyright inner-wrap">Copyright &copy; 2022&mdash;2023 Neuenet. All&nbsp;rights&nbsp;reserved.</p>
</footer>
