<nav class="navigation">
  <div class="inner-wrap">
    <div class="navigation-group">
      <a
        class="logo--neuenet"
        href="/"
        title="visit most recent posts"
      >neuenet/</a>
    </div>

    <div class="navigation-group">
      {{!--/
      <a
        href="/topics"
        title=""
      >topics</a>
      //--}}

      <a
        href="https://registry.neuenet"
        target="_blank"
        title="our homepage"
      >company</a>

      <a
        href="#feed_options"
        title="show feed options"
      >subscribe</a>
    </div>
  </div>

  <aside id="feed_options">
    <div class="inner-wrap">
      <span class="naming-system">
        <span class="title">DNS</span>
        <a href="/feed/legacy.atom">Atom</a>
        <a href="/feed/legacy.json">JSON</a>
        <a href="/feed/legacy.rss">RSS</a>
      </span>

      <span class="naming-system">
        <span class="title">HNS</span>
        <a href="#">Coming back soon</a>
        {{!-- <a href="/feed/index.atom">Atom</a> --}}
        {{!-- <a href="/feed/index.json">JSON</a> --}}
        {{!-- <a href="/feed/index.rss">RSS</a> --}}
      </span>

      <a class="cancel-toggle" href="#" title="hide feed options">&times;</a>
    </div>
  </aside>
</nav>

