<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>the internet, by Neuenet/ &middot; a blog</title>

    <meta name="description" content="{{ description }}"/>
    <meta name="theme-color" content="#333"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="/media/image/og.png"/>

    <link rel="apple-touch-icon" href="/media/image/icon-512.png"/>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="mask-icon" href="/favicon.svg" color="#f06595"/>
    <link rel="manifest" href="/manifest.webmanifest"/>
    <link rel="stylesheet" href="/base.css"/>
    <link rel="stylesheet" href="/style.css"/>

    {{{ head }}}
  </head>

  <body>
    <main>
      {{> navigation }}
      {{{ content }}}
      {{> footer }}
    </main>
  </body>
</html>
