<header class="header">
  <u-grid columns="12">
    <u-cell span="12">
      <h1 class="header__billboard">neue internet</h1>
      <p class="header__tagline inner-wrap">the page you are looking for is coming soon</p>
    </u-cell>
  </u-grid>
</header>

<section class="app-wrapper">
  <u-grid class="posts inner-wrap" columns="1">
    <p>There is a <strong>lot</strong> to build&hellip;this page will come later.</p>
  </u-grid>
</section>
