{{!--/ topics as differently-styled stickers /--}}

<header class="header">
  <u-grid columns="12">
    <u-cell span="12">
      <h1 class="header__billboard">neue internet</h1>
      <h2 class="header__title">{{title}}</h2>
      <p class="header__tagline inner-wrap">
        <time>{{date}}</time>
        <span>{{tldr}}</span>
      </p>
    </u-cell>
  </u-grid>
</header>

<section class="app-wrapper post">
  <section class="post__body">
    {{{content}}}
  </section>
</section>
